*.o
*.lo
*.la
*.a
*~
*.pc
*.gcda
*.gcno
*.orig
*.rej
t-*[0-9]
t-verifyperf
t-signperf
t-cleanup
t-setup
.deps/
.libs/
autom4te.cache/
autoscan-*.log
build-config.h.in
compile
config.guess
config.sub
configure.scan
configure.lineno
aclocal.m4
depcomp
install-sh
missing
stamp-h*
build-config.h
config.log
config.status
ltmain.sh
libtool
Makefile.in
Makefile
*.tar.gz
*.tar.gz.md5
*.tar.gz.sha1
*.tar.gz.asc
tags
.deps
autom4te.cache
core
*.core
build-aux
opendkim-[0-9].[0-9].[0-9]
.vscode
