{
	"always": [
		"--with-openssl=/usr/local",
		"--with-milter=/home/msk/auth/milter"
	],

	"combine": [
		"--enable-debug",
		"--disable-shared",
		"--with-odbx",
		"--enable-stats",
 		"--enable-statsext",
		"--enable-diffheaders",
		"--enable-vbr",
		"--with-lua",
		"--enable-atps",
		"--enable-poll",
		"--enable-rbl",
		"--with-unbound",
		"--enable-replace_rules",
		"--with-libmemcached",
		"--enable-rate_limit",
		"--enable-reputation",
		"--enable-dkim_reputation",
		"--with-openldap",
		"--enable-resign"
	]
}
