*.o
*.lo
*.la
*.a
*~
*.pc
*.gcda
*.gcno
opendkim*.[58]
t-*[0-9]
t-verifyperf
t-signperf
t-cleanup
t-setup
.deps/
.libs/
autom4te.cache/
autoscan-*.log
build-config.h.in
compile
config.guess
config.sub
configure
configure.scan
aclocal.m4
depcomp
install-sh
missing
stamp-h*
build-config.h
config.log
config.status
ltmain.sh
libtool
Makefile.in
Makefile
.deps
opendkim-testadsp
opendkim
opendkim-stats
opendkim-testkey
opendkim-genzone
opendkim-genkey
.libs
core
*.core
opendkim-lua.3
opendkim.conf.simple-verify
opendkim.conf.simple
opendkim-atpszone
opendkim-atpszone.8
