--
--  Copyright (c) 2009, 2010, 2012, The Trusted Domain Project.
--    All rights reserved.
--
--  screen.lua.sample -- sample version of the "screen" script that demonstrates
--                       all of the features of the configuration file
--
--  The screen script is executed after all header fields have been received
--  and after signatures have been selected, but before the message body
--  is handled.  Here we have an opportunity to identify and ignore signatures
--  we know we don't trust.

--  retrieve the count of signatures on the message
nsigs = odkim.get_sigcount(ctx)
if nsigs == nil then
	return nil
end

--  get the From: domain
fdomain = odkim.get_fromdomain(ctx)
if fdomain == nil then
	return nil
end

--  for each signature, ignore it if it's not from the sender's domain
for n = 1, nsigs do
	sig = odkim.get_signhandle(ctx, n)
	sdomain = odkim.sig_getdomain(sig)
	if fdomain ~= sdomain then
		odkim.sig_ignore(sig)
	end
end

--  That's it!
return nil
