body {
	margin:0; padding: 0; line-height:1.5em;
	color:#303030; background: #fff;
	line-height: 1.4;
	font-family:Helvetica, Arial; font-size:medium;
	}

ul { list-style-type: none; }
ul li { margin:0; padding:0; }

a.logo { color: #fff; text-decoration: none;}

#header {
	background-color: #333;
	height: 3em;
	color: #fff;
	font-size: 2.0em;
	font-weight: bolder;
	letter-spacing: 0.2em;margin:0 0 0 0px;padding:3px 30px;
	}

#frontnav li { float: left;}
#frontnav a {
	display: block;
	width: auto;
	text-decoration: none;
	letter-spacing: 0em;
	padding: 2px 10px;
	font-size: small;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #ddd;background: #333;
	/* text-transform: uppercase; */
	}

#frontnav A:hover, #frontnav A:active {
	color: #fff;
	text-decoration: underline;
	font-weight: bolder;
	}

#bodytext {
	width: 700px;
	margin-left: 60px;
	min-height: 400px;
}

#bodytext h1 {
	color:#aa3300;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #006600;
	font-size: large;
	}

#bodytext ul {list-style-type: square;	}
#bodytext li { padding-bottom:10px; }

#footer {
	font-family: Helvetica, Arial; line-height:11px; font-size:x-small;
	background-color: #FFF;
	color: #000;
	padding: 0.5em;
	float: left;
	width: 760px;
	border-top:1px solid #a99;
	}
