*.o
opendkim*.[58]
*.lo
*.la
*.a
*~
*.pc
*.gcda
*.gcno
t-*[0-9]
t-verifyperf
t-signperf
t-cleanup
t-setup
.deps/
.libs/
autom4te.cache/
autoscan-*.log
build-config.h.in
compile
stamp-h*
Makefile.in
Makefile
.deps
.libs
core
*.core
opendkim-anonstats
opendkim-importstats
opendkim-anonstats
opendkim-genrates.pl
opendkim-modtotals.pl
